/* p {
    color: var(--txtColor) !important;
}

.profile-manga, .summary-layout-1, .site-content, .summary_content_wrap {
    background-color: var(--elColor) !important;
}

.c-sub-header-nav .with-border, .container, .site-header, .c-sidebar, .c-top-second-sidebar, .wp-manga,
.site-header .c-sub-header-nav.with-border {
    background-color: var(--bgColor) !important;
}

.site-header .main-navigation.style-1, .site-header .main-navigation .main-navigation_wrap {
    background: var(--bgColor) !important;
} */