:root {
    --background-surface: #201e22;
    --background-darkend: #0c0b0e;
    --background-element: #151318;
    --background-accent: #231f27;
    --background-brightAccent: #e5d6ee;
    --elemLayer: #1f1e24;
    --elemLayer-accent: #312e38;
    --textOnElem: #d4c8e0;
    --textOnElemGrey:#8a8294e;
    --secondary-main: #045b62;
    --secondary-accent: #3d8086;
    --secondary-elem: #0d484e;
    --secondary-dark: #02393e;
    --colorLink: #fad7a2;
    --colorLinkHover: #c48040;
    --colorLinkVisited: #e27739;
    --noColor: #0000;
}
body {
    font-family: Tahoma, Verdana, Segoe, sans-serif!important; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px!important;
    background-color: var(--background-surface)!important;
}
p {
    color: var(--textOnElem)!important;
    font-family: Tahoma, Verdana, Segoe, sans-serif!important;
}
a {
    color: var(--colorLink)!important;
    font-family: Tahoma, Verdana, Segoe, sans-serif!important;
}
a:visited {
    color: var(--colorLinkHover)!important;
}
a:hover {
    color: var(--colorLinkVisited)!important;
}
/*Remove*/
.sao_mobile_box, .box_right, .tips, .copyright, .xiaoshuo_shuoming, .cont_tuijian,
#st, .RMss1, .dirAd, .readset .setcolor, .readset .padrig, #queries,
.setreset.default_user_setting, .hot-recommend, .zw1ljPz {
    display: none!important;
}
.top {
    background-color: var(--secondary-dark) !important;
}
/*SEARCH*/
.gsc-control-cse,.gsc-control-cse *{
    margin: 0px!important;
    padding: 0px!important;
    border: 0px solid var(--background-accent)!important;
    background-color: var(--background-element)!important;
}
.gsc-control-cse {
    margin: 3px!important;
    padding: 3px!important;
    border: 1px solid var(--background-accent)!important;
    background-color: var(--background-element)!important;
}
.gsc-cursor-page.gsc-cursor-current-page * {
    color: var(--secondary-elem)!important;
}
.gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
    border-color: var(--background-element)!important;
    background-color: var(--background-element)!important;
    color: var(--textOnElem)!important;
}
.gs-image-box.gs-web-image-box.gs-web-image-box-portrait * {
    border-radius: 12px!important;
}
div.gsc-webResult.gsc-result:hover {
    border-color: var(--background-accent)!important;
    background-color: var(--background-element)!important;
    color: var(--textOnElem)!important;
}
div.gsc-webResult.gsc-result:hover {
    border-color: var(--background-accent)!important;
    background-color: var(--elemLayer-accent)!important;
    color: var(--textOnElem)!important;
}
div.gsc-webResult.gsc-result * {
    border-color: var(--background-accent)!important;
    background-color: var(--background-element)!important;
}
div.gsc-webResult.gsc-result {
    padding: 8px!important;
}
div.gsc-webResult.gsc-result:hover * {
    border-color: var(--background-accent)!important;
    background-color: var(--elemLayer-accent)!important;
}
.gsc-results .gsc-cursor-box {
    margin-top: 12px!important;
    margin-bottom: 12px!important;
}
div.gsc-table-result * { 
    color: var(--textOnElem)!important;
}
div.gsc-cursor-page, div.gsc-cursor-page * {
    background-color: var(--secondary-main)!important;
    border-color: var(--secondary-accent)!important;
}
div.gsc-cursor-page {
    padding: 6px!important;
    margin: 3px!important;
    z-index: 10!important;
    border-radius: 4px!important;
}
#___gcse_0 *:not(.gsc-wrapper *) {
    color: var(--textOnElem)!important;
    background-color: var(--elemLayer-accent)!important;
    border-radius: 18px!important;
}
#___gcse_0 {
    background-color: var(--noColor)!important;
}
input#gsc-i-id1.gsc-input {
    padding: 5px!important;
    margin: 3px!important;
    height: 24px!important;
}
td.gsc-search-button * {
    padding: 6px!important;
    pointer-events: auto!important;
    cursor: pointer!important;
}

/*Stuff*/
.tjxslb {
    display: block!important;
    font-weight: 600!important;
    height: 470px!important;
}
.tjxslb li {
    display: block!important;
    background-color: var(--background-element)!important;
    height: 225px!important;
    padding: 10px!important;
    border-radius: 12px!important;
    width: 105px!important;
    margin: 3px!important;
    overflow-y: hidden!important;
}
.tjxslb li a img {
    border-radius: 6px!important;
    transform: none!important;
}
.tjxslb li:hover, .tjxslb li a:hover {
    background-color: var(--elemLayer-accent)!important;
}
.tjxslb li a:hover img {
    width: 98px!important;
    height: 142px!important;
}
#right {
    font-weight: 600!important;
}
.tydh {
    margin-top: 30px!important;
}
div {
    color: var(--textOnElem)!important;
}
div#tabs1 {
    height: fit-content!important;
    color: var(--textOnElem)!important;
}
ul.zxxslb li {
    overflow: scroll!important;
    height:190px!important;
}
ul.zxxslb li p a img {
    border-radius: 12px!important;
}
span.jj {
    height: fit-content!important;
}
.jieshao {
    background-color: var(--background-element)!important;
}
.gsc-modal-background-image {
    background-color: var(--background-element)!important;
}
.phright, .content {
    background-color: var(--background-element)!important;
}
a.gs-title {
    color: #679aec!important;
}
#chapterList > li a {
    padding: 100%;
    padding-left: 2px!important;
}
#chapterList > li a:hover {
    text-decoration: none;
}
#chapterList > li {
    border: 1px solid var(--elemLayer-accent)!important;
}
#chapterList > li:hover {
    border: 1px solid var(--elemLayer-accent)!important;
    background-color: var(--elemLayer)!important;
}
.zhangjie.clear {
    background-color: var(--background-element)!important;
}
.jieshao_content {
    color:var(--textOnElem)!important;
    font-size: 1.3em!important;
}
.w_main {
    background: var(--background-element)!important;
}
.box_left {
    background: var(--background-element)!important;
}
.zhengwen_box {
    background: var(--background-element)!important;
}
.readset {
    margin: 0px!important;
    padding: 0px!important;
    border: 0px!important;
    display:block!important;
    height: fit-content!important;
    z-index: 10!important;
    position: fixed!important;
    top:0px!important;
    left: 0px!important;
    width: 100%!important;
    border-bottom: 5px!important;
}
.readset .copyDiv {
    display: block!important;
}
font {
    background-color: var(--noColor)!important;
}
.titlebar-desc {
    display: inline-block!important;
}
#head {
    display: block!important;
}
.hot-search {
    overflow: visible!important;
    height: fit-content!important;
    background-color: var(--background-element)!important;
}
.nav {
    display: flex!important;
    flex-wrap: wrap!important;
    position: relative!important;
    height: fit-content!important;
    padding: 4px!important;
    background-color: var(--secondary-main)!important;
}
.nav li a {
    color: var(--textOnElem)!important;
    background-color: var(--secondary-elem)!important;
    font-size: 16px!important;
    font-variant-caps: all-small-caps!important;
    line-height: 20px!important;
    height: 20px !important;
    padding: 4px!important;
    border-radius: 6px!important;
}
.nav-cur {
    background-color: var(--secondary-accent)!important;
}
.nav li a:hover {
    background-color: var(--secondary-dark)!important;
}

/*List Stuff?*/
ul li {
    display: block!important;
    margin-top: 3px!important;
    margin-bottom: 5px!important;
}
.list-item * {
    display: inline-block!important;
    overflow: visible!important;
}
.list-item .book-info {
    height: fit-content!important;
    overflow: visible!important;
}
.book-item {
    color: var(--textOnElem)!important;
}
.recommend-item {
    font-size: 16px!important;
    text-align: center!important;
}
.recommend-item a:last-child {
    display: block!important;
}
/*CONTENT*/
#contentbox {
    font-family: Tahoma, Verdana, Segoe, sans-serif!important;
    font-weight: 500!important;
}
.box_left {
    margin-top: -30px!important;
    width: auto!important;
    -webkit-box-shadow: 0 3px 12px rgba(0,0,0,.24),0 1px 2px rgba(0,0,0,.48)!important;
    box-shadow: 0 3px 12px rgba(0,0,0,.24),0 1px 2px rgba(0,0,0,.48)!important;
    border-radius: 8px!important;
}
/*CHAPTER TITLE*/
#timu font font {
    width: 100%!important;
    overflow: visible!important;
    text-align: left!important;
    display: block!important;
    z-index: 9!important;
    color: var(--secondary-elem);
    height: fit-content!important;
    padding-bottom: 3px!important;
    margin-bottom: -12px!important;
    border-bottom: 3px solid var(--secondary-dark)!important;
}
.h1title {
    overflow: visible!important;
}
.shuming, .shuming * {
    display: inline-block!important;
    color: var(--secondary-elem)!important;
    margin: 0px!important;
    padding: 0px!important;
}
span.author *{
    color: var(--secondary-accent)!important;
    margin: 0px!important;
    font-variant-caps: all-small-caps!important;
}
.w_main .h1title {
    width: 100%!important;
    color: var(--background-brightAccent)!important;
    height: fit-content!important;
    z-index: 9!important;
    background: none!important;
    margin: 0px!important;
    padding: 0px!important;
}
.shuming > font:first-of-type * {
    color: var(--secondary-accent)!important;
    margin-right: 6px!important;
    font-variant-caps: all-small-caps!important;
}
.shuming a *:hover {
    color: var(--colorLinkHover)!important;
}
/*RED BAR*/
#Span1, #Span2 {
    display: none!important;
}
.zhengwan_top .srcbox {
    height: fit-content!important;
    display: flex !important;
    width: 100% !important;
    flex-wrap: wrap !important;
    z-index: 9!important;
    color: var(--secondary-accent)!important;
    font-size: 1em!important;
    text-align: center!important;
    background-color: var(--secondary-dark)!important;
    border-bottom: 5px!important;
}
/*bottom*/
div[style="margin:0px;"] {
    display: none!important;
}
.fanye_cen {
    width: auto!important;
    padding: 2px!important;
    height: 800px!important;
}
.fanye_cen span {
    float: unset!important;
    display: block!important;
}
.fanye_cen a#next { 
    background-color: var(--secondary-elem)!important;
    font-size: 90%!important;
    color: var(--textOnElem)!important;
    font-weight: 600!important;
    display: inline-block!important;
    padding: 10px!important;
    border: 2px solid var(--background-brightAccent)!important;
    border-radius: 30px!important;
    margin: 2px!important;
    margin-top: 5px!important;
    transition: 0.7s!important;
    font-variant-caps: all-small-caps!important;
}
.fanye_cen a#next:hover { 
    border: 2px solid var(--background-accent)!important;
    background-color: var(--secondary-dark)!important;
}
/*LEFT SIDE TEXT*/
.phleft li {
    height: 40px!important;
    margin-bottom: 10px!important;
}
/*BOOKCON*/
.bookcon {
    display: block!important;
    height: fit-content!important;
}
.bookcon table tbody tr {
    display: inline-flex!important;
    font-size: 120%!important;
    font-weight: 600!important;
}
/*SCRIPT STUFF*/
.copyDiv {
    color: var(--textOnElem)!important;
    background-color: var(--secondary-main)!important;
    font-size: 120%!important;
}
.niceButton {
    color: var(--textOnElem);
    font-weight: 600;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80px;
    border: 2px solid #d3d1d1;
    background-color: var(--background-element);
    border-radius: 30px;
    margin: 2px;
    margin-top: 5px;
    transition: 0.7s;
}
.niceButton:hover {
    color: var(--textOnElem);
    font-weight: 600;
    display: inline-block;
    border: 2px solid var(--background-brightAccent);
    background-color: var(--elemLayer-accent)
;}
.niceButton:hover:active {
    background-color: var(--background-accent);
}
.deleted {
    background-color: #710612!important;
}
.copied {
    background-color: #06710b!important;
}
.deleted:hover {
    background-color: #410209!important;
}
.copied:hover {
    background-color: #045008!important;
}
.deleted:active:hover {
    background-color: #a7081a!important;
}
.copied:active:hover {
    background-color: #08a30f!important;
}
#storageTextLengthCounterLbl {
    background-color: var(--noColor)!important;
}
#copyAmountLbl {
    background-color: var(--noColor)!important;
}
#inputCopyAmount {
    background-color: var(--background-element)!important;
    color: var(--textOnElem)!important;
    margin: 10px!important;
    padding: 10px!important;
    border: 2px solid var(--elemLayer-accent)!important;
    border-radius: 30px!important;
    font-size: 1em!important;
}
#inputCopyAmount {
    color: var(--textOnElem)!important;
    font-weight: 600!important;
    display: inline-block!important;
    padding: 5px 15px!important;
    border: 2px solid var(--elemLayer-accent)!important;
    background-color: var(--background-element)!important;
    border-radius: 30px!important;
    margin: 2px!important;
    transition: 0.7s!important;
    width: 120px!important;
}
#inputCopyAmount::-webkit-inner-spin-button, #inputCopyAmount::-webkit-outer-spin-button {
    -webkit-appearance: none!important;
    background: var(--background-brightAccent)    url(data:image/png!important;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=)     no-repeat center center!important;
    position: absolute!important;
    top: 0!important;
    right: 0!important;
    bottom: 0!important;
    width: 1em!important;
    border-left: 1px solid var(--elemLayer-accent)!important;
    opacity: .5!important; /* shows Spin Buttons per default (Chrome >= 39) */
}

/*MOBILE VERSION*/
.topheadbox {
    color: var(--textOnElem)!important;
    background-color: var(--background-surface)!important;
}
.tophead {
    color: var(--textOnElem)!important;
    background-color: var(--background-element)!important;
}
.topnav {
    color: var(--textOnElem)!important;
    background-color: var(--background-element)!important;
}
.topnav a {
    font-size: 11px!important;
}
.txt_tj_book ul li {
    color: var(--textOnElem)!important;
    background-color: var(--background-element)!important;
}
#footer {
    background-color: var(--background-surface)!important;
}
.listbox .txt_tj_book ul li{
    background: none!important;
    background-color: var(--background-element)!important;
    color: var(--textOnElem)!important;
}
.listbox .txt_tj_book ul li span {
    color: var(--textOnElem)!important;
}
div.name font font {
    display: block!important;
}
#book-sp .list_cont .book-detial .ml-list ul li {
    background-color: var(--elemLayer)!important;
}
.book_action a, .book_action a:active {
    background: var(--secondary-elem)!important;
}
div.desc {
    overflow: unset!important;
}
.listbox .nav .hover {
    background: var(--secondary-dark)!important;
}
.pages a {
    background-color: var(--elemLayer-accent)!important;
}
.listbox .crumbNav {
    background-image: linear-gradient(top var(--background-surface), var(--background-element))!important;
}
.listbox .list_cont ul.fl-list-ul li:nth-child(even) {
    background: var(--elemLayer-accent)!important;
}
/*SCROLLBAR*/
::-webkit-scrollbar {
    height: 4px;
    width: 11px;
    border: 1px solid var(--elemLayer-accent);
}

::-webkit-scrollbar-track {
  border-radius: 0px;
  background: var(--background-surface);
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: var(--elemLayer-accent);
  border: 2px var(--background-surface) solid;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--background-element);
}