:root {
    --background-surface: #fff;
    --background-darkend: #adadad;
    --background-element: #fff;
    --background-accent: #00a0da;
    --elemLayer: #fff;
    --textOnElem: #000;
    --elemLayer-accent: #007ead;
    --onBG-elem: #c7c1ce;
    --colorLink: #faa2b1;
    --colorLinkVisited: #e2397a;
    --secondary-main: #045b62;
    --secondary-accent: #3d8086;
    --secondary-elem: #0d484e;
    --secondary-dark: #02393e;
    --noColor: #0000;
}
.prev {
    color: #111!important;
    display: inline-block!important;
    width: 80px!important;
    text-align: center!important;
    border: 2px solid #a2a2a2!important;
    background-color: #4e000031!important;
    border-radius: 30px!important;
    margin: 2px!important;
    margin-top: 5px!important;
    transition: 0.7s!important;
}
.prev:hover {
    color: #111!important;
    border: 2px solid #d3d1d1!important;
    background-color: #9b170031!important;
}
.next {
    color: #111!important;
    display: inline-block!important;
    width: 80px!important;
    text-align: center!important;
    border: 2px solid #a2a2a2!important;
    background-color: #1f4e0031!important;
    border-radius: 30px!important;
    margin: 2px!important;
    margin-top: 5px!important;
}
.next:hover {
    color: #111!important;
    border: 2px solid #d3d1d1!important;
    background-color: #0b9b0031!important;
    transition: 0.7s!important;
}


/*Script content*/



.niceButton {
    color: var(--textOnElem);
    font-weight: 600;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80px;
    border: 2px solid #d3d1d1;
    background-color: var(--background-element);
    border-radius: 30px;
    margin: 2px;
    margin-top: 5px;
    transition: 0.7s;
}
.niceButton:hover {
    color: var(--textOnElem);
    font-weight: 600;
    display: inline-block;
    border: 2px solid #a2a2a2;
    background-color: var(--elemLayer-accent)
;}
.niceButton:hover:active {
    background-color: var(--background-accent);
}
.deleted {
    background-color: #710612;
}
.copied {
    background-color: #034106;
}
.deleted:hover {
    background-color: #410209;
}
.copied:hover {
    background-color: #045008;
}
.deleted:active:hover {
    background-color: #a7081a;
}
.copied:active:hover {
    background-color: #08a30f;
}
.listDiv {
    padding: 10px;
    background-color: var(--elemLayer);
    min-height: 50px;
    width: 99%;
    box-sizing: border-box;
    text-align: left;
    display: block;
    float: left;
    border: 1px solid var(--background-accent);
    margin: 5px 0px 5px 4px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,.1);
    position: relative;
    pointer-events: auto;
}
.listElement {
    color: var(--textOnElem);
    background: var(--secondary-elem);
    border-radius: 3px;
    font-size: 12px;
    padding: 3px 5px 3px 5px;
    margin: 3px 3px 3px 3px;
    display: inline-block;
}
.listElement:hover {
    background-color: var(--secondary-accent);
}
.listBtn {
    color: var(--textOnElem);
    display: block;
}
.listDiv:not(customExpanded) h2{
    background: var(--noColor) url(https://www.mtlnovel.net/themes/mtlnovel/images/chevron-down.svg) 2px 9px no-repeat;
    background-position: calc(100% - 10px);
}
.listDiv:not(customExpanded) span {
    transition: 0.4s;
    display: none;
}
.listDiv.customExpanded h2 {
    background: var(--noColor) url(https://www.mtlnovel.net/themes/mtlnovel/images/chevron-up.svg) 2px 9px no-repeat;
    background-position: calc(100% - 10px);
}
.listDiv.customExpanded span {
    display: inline-block;
}
.list-but-in,.list-but-in:visited {
    color: var(--textOnElem)!important;
}
.expandBtn {
    appearance: none;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    background-color: var(--noColor);
    min-height: 50px;
    box-sizing: border-box;
    text-align: left;
    display: block;
    border: 0px solid #000;
    margin: 5px 0px 5px 4px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    position: relative;
    pointer-events: auto;
}
.emptyBtn, .rmvBtn {
    position: relative;
    user-select: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-weight: 600;
    background-color: var(--noColor);
    border-color: var(--noColor);
    cursor: pointer;
}
.rmvBtn {
    font-size: 16px;
    right: 10px;
    padding: 3px;
    margin: 3px;
    width: 30px;
    height: 30px;
    text-align: center;
    user-select: none;
    background-color: var(--elemLayer-accent);
    border-radius: 12px;
    box-shadow: 0px 0px 1px 1px var(--background-darkend);
}
.rmvBtn:hover {
    color: var(--textOnElem);
    background-color: var(--background-accent);
    user-select: none;
    transition: 0.2s;
}
.readingTimeLbl {
    color: var(--secondary-accent);
}
.filterBtn, .addHighlightBtn {
    pointer-events: auto;
    user-select: none;
    margin-left: 3px;
    padding: 0px;
}
.filterBtn:hover, .addHighlightBtn:hover {
    color: var(--textOnElem)!important;
}
.filterBtn:active, .addHighlightBtn:active {
    color: var(--colorLinkVisited)!important;
}
.box.customHighlight{
    border: 1px var(--colorLinkVisited) solid!important;
}
.box.wide.customHighlight {
    border: 0px var(--colorLinkVisited) solid!important;
    border-top: 1px var(--colorLinkVisited) solid!important;
}
a.genre, a.genre:hover {
    text-decoration: none!important;
    background-color: var(--secondary-elem)!important;
    color: var(--textOnElem)!important;
}
a.genre:hover {
    background-color: var(--secondary-main)!important;
}
.settingContainer {
    vertical-align: middle!important;
}
#inputWPMNumber {
    color: var(--textOnElem);
    font-weight: 600;
    background-color: var(--background-element)!important;
    display: inline-block;
    padding: 5px 18px;
    border: 2px solid #d3d1d1;
    background-color: #1717173d;
    border-radius: 30px;
    margin: 2px;
    transition: 0.7s;
    width: 120px;
    max-height: 36px;
    vertical-align: middle;
}
#inputWPMNumber::-webkit-inner-spin-button, #inputWPMNumber::-webkit-outer-spin-button {
    -webkit-appearance: none;
    background: #fff    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=)     no-repeat center center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1em;
    border-left: 1px solid #bbb;
    opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
}
#inputCopyAmount {
    color: var(--textOnElem);
    font-weight: 600;
    background-color: var(--background-element)!important;
    display: inline-block;
    padding: 5px 15px;
    border: 2px solid #d3d1d1;
    background-color: #1717173d;
    border-radius: 30px;
    margin: 2px;
    transition: 0.7s;
    width: 120px;
}
#inputCopyAmount::-webkit-inner-spin-button, #inputCopyAmount::-webkit-outer-spin-button {
    -webkit-appearance: none;
    background: #fff    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=)     no-repeat center center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1em;
    border-left: 1px solid #bbb;
    opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
}
.copyright *, .copyright *:visited {
    color: var(--background-brightAccent)!important;
    height: fit-content!important;
    padding: 3px!important;
    user-select: none;
}
.copyright *:hover {
    color: var(--colorLinkVisited)!important;
}
#copyAmountLbl {
    font-variant-caps: all-small-caps!important;
}
#storageTextLengthCounterLbl {
    font-variant-caps: all-small-caps!important;
}

/* The switch - the box around the slider */
.switch {
    position: relative!important;
    display: inline-block!important;
    width: 60px!important;
    height: 34px!important;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0!important;
    width: 0!important;
    height: 0!important;
  }
  
  /* The slider */
  
  .toggle {
    --width: 80px;
    --height: calc(var(--width) / 3);

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
  }

  .toggle input {
    display: none;
  }

  .toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: var(--textOnElem);
    transition: all 0.4s ease-in-out;
  }

  .toggle .slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: var(--background-brightAccent);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked+.slider {
    background-color: var(--secondary-main);
  }

  .toggle input:checked+.slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
  }

  /* Adding text in the toggle button */
.toggle .labels {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    right: 5px;
    color: #4d4d4d;
    opacity: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    left: 5px;
    color: #ffffff;
    opacity: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
    opacity: 0;
}

.toggle input:checked~.labels::before {
    opacity: 1;
}

.textForSetting {
    display: inline-block;
    font-weight: 600;
    margin-left: 12px;
    margin-right: 3px;
}

.settingContainer {
    display: block;
}

.box.car.view-more {
    background-color: var(--background-accent)!important;
}

::-webkit-scrollbar {
    height: 4px!important;
    width: 12px!important;
    border: 1px solid var(--secondary-accent)!important;
}

::-webkit-scrollbar-track {
  border-radius: 0!important;
  background: var(--secondary-accent)!important;
}

::-webkit-scrollbar-thumb {
  border-radius: 0!important;
  background: var(--secondary-dark)!important;
}   

.settingContainer {
    display: block;
}

/* Progress bar */
#progress-bar {
    --scrollAmount: 0%;
    
    background-image: linear-gradient(120deg, var(--secondary-dark) 0%, var(--secondary-accent) 100%);
    width: var(--scrollAmount);
  
    /*  background: linear-gradient(to right, #F24E1E var(--scrollAmount), transparent 0);
    width: 100%; */
    
    height: 25px;
    position: fixed;
    bottom: 0;
    left: 0px;
    text-indent: 12px;
    line-height: 25px;
  }